* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #18181a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


.navbar {
    background-color: #080808;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px; 
}

.card {
    background-color: #312d37;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.card label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
}

.card input[type="text"],
.card input[type="email"],
.card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card button {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

a.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

a.button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#senha {
    margin-bottom: 20px;
  }

#mostrarSenha {
    cursor: pointer;
}

#mapid {
    min-height: 300px;
  }
  
  summary {
    font-weight: bold;
    cursor: pointer;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
