* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #18181a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.card {
    background-color: #312d37;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card a.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.card a.button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card button {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.card button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#usersList {
    background-color: #312d37;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

#usersList li {
    font-size: 16px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

#prodList {
    background-color: #312d37;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

#prodList li {
    font-size: 16px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

a.button, button.button {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

a.button:hover, button.button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}   

